*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
}

img {
  display: block;
  max-width: 100%;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

button {
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  cursor: default;
}
